@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&family=Muli&display=swap');
/* ^^ import for roboto font from google fonts */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli','sans-serif';
    margin: 0;
    display: flex;  /*centers everything */
    flex-direction: column; /*switch's flex from row to column */
    align-items: center; /*if we didn't have flex-column then itd center it in horizontally but with flex column it centers vertically */
    justify-content: center; /*centers it in middle of browser window instead of centering at the top */
    height:100vh; /*100vh is view port height so it saying take up the entire of the browser/viewport */
    overflow: hidden ; /*prevents scroll bars from being shown by default */
    background-color: #2b88f0;
}
h3{
    color: white;
    margin: 10px 0 20px;
    text-align: center;
}
.container{
    width: 500px;
}

textarea{
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}

.tag{
    background-color: #f0932b;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}
.tag.highlight{
    background-color: #273675;
}