@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&family=Roboto&display=swap');
/* ^^ import for roboto font from google fonts */


:root{ /*custom properties(essentially variables). to define we need a scope (here i use root scope)*/
    --line-border-fill:#3498db;  /*now wherever we want this blue color to be we just reference this "var(--line-border-fill)",  makes it so we only need to change the colors here to have them apply everywhere the var is called  */
    --line-border-empty:#e0e0e0;
}

*{
    box-sizing: border-box;
}
body{
    background-color: #f6f7fb;
    font-family: 'Roboto','sans-serif';
    margin: 0;
    display: flex;  /*centers everything */
    flex-direction: column; /*switch's flex from row to column */
    align-items: center; /*if we didn't have flex-column then itd center it in horizontally but with flex column it centers vertically */
    justify-content: center; /*centers it in middle of browser window instead of centering at the top */
    height:100vh; /*100vh is view port height so it saying take up the entire of the browser/viewport */
    overflow: hidden ; /*prevents scroll bars from being shown by default */
    
}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative ; /*lets us position other things inside of it absolute */
    margin-bottom: 30px;
    max-width: 100%;
    width: 400px;
}
.progress-container::before{
    content:''; /*need to include content if using the before or after selector on the line above(::before)*/
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%); /*without this the top of the line is in the middle, with this we set the middle of the line to be in the middle, translateY is for vertical access*/
    height: 4px;
    width: 100%;
    z-index: -1 ; /*set the line behind the circles*/

}
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%); /*without this the top of the line is in the middle, with this we set the middle of the line to be in the middle, translateY is for vertical access*/
    height: 4px;
    width: 0%;
    z-index: -1 ; /*set the line behind the circles*/
    transition: .4s ease;
}
.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid  var(--line-border-empty);
    transition: .4s ease;
}
.circle.active{
    border-color:var(--line-border-fill);
    transform: scale(.99);
}
.btn{
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding:8px 30px ;
    margin: 5px;
    font-size: 14px;
}
.btn:active{
    transform: scale(.98); /*gives it that little pop on click*/
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}